<% provide(:title, "All users") %>
<h1>All users</h1>

<ul class="list-unstyled m-0">
  <% @users.each do |user| %>
  <li class="overflow-auto py-3 border-bottom">
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %>
  </li>
  <% end %>
</ul>